@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

::-webkit-scrollbar {
  display: none;
}

/* some supporting classes */
.flex{
    display: flex;
}
.justify{
    justify-content:space-between ;
}
.align{
    align-items: center;
}
.direction{
    flex-direction: column;
}
.border_radius{
    border-radius: 5px;
}
.font_size{
    font-size: medium;
}
/* perfectly size the images */
#logo{
    margin: 1vw;
    padding: 2px;
}
#home{
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}
#search{
     width: 3vh;
    height: 3vh;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}
#plus{
    width: 2vh;
    height: 2vh;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}
#world{
     width: 1vw;
    height: 1vw;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}
#install{
      width: 1vw;
    height: 1vw;
    margin: 4px;
    padding: 4px;
    cursor: pointer;
}
#browse{
     width: 3vh;
    height: 3vh;
    cursor: pointer;
}
#sound{width: 2vh;
    height: 2vh;
    cursor: pointer;
}
#insta{
    width: 2vw;
    height: 2vw;
    padding: 1vw;
}
#twitter{
    width: 2vw;
    height: 2vw;
    padding: 1vw;
}
#facebook{
    width: 2vw;
    height: 2vw;
    padding: 1vw;
}
#playbtn2{
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}
#prvbtn{
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}
#nxtbtn{
    width: 3vh;
    height: 3vh;
    transform: scaleY(-1);
    transform-origin: center;
    cursor: pointer;
}
#timer{
    width: 30vw;
    height: 1px;
    border: 1px solid rgb(53, 53, 53);
    background-color:rgb(53, 53, 53) ;
    cursor: pointer;
}
#lib_head{
    justify-content: space-between;
    margin: 2vw;
    
}
#lib_head div{
    font-size: 2vh;
}
#parent_plus{
    width: 3vh;
    height: 3vh ;
    border-radius: 50%;
}



/* overall navbar  */
.navbar{
    width: 100vw;
    height: 7vh;
    background-color: black;
    color: white;
    gap: 15vh;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
    align-items: center;    
}
/* left part of navbar  */
.navbar1{
    gap: 2vh;
}
/* search bar at left top  */
.searchbar{
    width: 32vw;
    height: 3vw;
    border-radius: 40px;
    background-color: rgb(45, 45, 44);
    align-items: center;
    justify-content: space-around;
    padding: 0 1vh;
}
/* make placeholder in search bar  */
#typebox{
    width: 22vw;
    height: 4vh;
    background-color: rgb(45, 45, 44);
    border: none;
    outline: none;
    color: white;
    font-size: medium;
    
}
/* fit home in circle */
#parent_home{
    width: 6vh;
    height: 6vh;
    background-color: rgb(35, 34, 34);
    border-radius: 50%;
    justify-content: center;
}
/* line img at nav bar  */
.line{
   background-color: #fff;
    height: 25px;
    padding: 1px;
    margin-left: 2vh;
}
/* right part of navbar  */
.navbar2{
    gap: 2vh;

}
.navbar2 a{
    text-decoration: none;
}
.navbar21 a{
    color: rgb(183, 180, 180);
    font-size: 2vh;
    font-weight: 700;
    gap: 1vh;
}
.navbar22 a{ 
    font-size: 1vw;
    color: rgb(183, 180, 180);
}
.navbar21{
    gap: 1vh;
}
    
.navbar22{
    gap: 2vh;
}
/* login button */
.loginbtn{
    width: 7vw;
    height: 5vh;
    background-color: white;
    color: black;
    border-radius: 35px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: center;
    margin-right: 1vw;
}

/* main container  */
.container{
    position: relative;
    width: 100vw;
    margin-top: 7vh;
}
/* left container  */
.library{
    width: 30vw;
    height: 9vh;
    background-color: rgb(17, 17, 17);
    margin-top: 5px;
    position: fixed;
    top: 4vw;
    left: 1vh;
}
/* two card in left container  */
.card1{
    width: 28vw;
    height: 16vh;
    margin: 1vw;
    background-color: rgb(31, 31, 31);
}

.card1 h4{
    margin: 2vh 2vh;
}
.card1 p{
    font-size: 13px;
    margin: 1vh 2vh;
}
.btn1{
    background-color: #ffff;
    color: black;
    width: 10vw;
    height: 2vw;
    border-radius: 25px;
    margin: 3vh 2vh;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: bolder;
}
.lib_links{
    width: 28vw;
}
.lib_links a{
    text-decoration: none;
    color: rgb(183, 180, 180);
    font-size: 10px;
    margin: 2vw 1vh;
    padding: 1vh;
}
.empty1{
    width: 26vw;
    height: 5vh;
    padding: 2vw;
    margin: 2vh;
}

.btn2{
    width: 7vw;
    height: 3vh;
    background-color: black;
    border: 1px solid rgb(107, 106, 106);
    border-radius: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 3vw 2vh;
    font-size: 15px;
    padding: 3px;

}

/* right container  */
.songs{
    width: 68vw;
    height: 1000vh;
    margin-left: 1vh;
    margin-top: 5px;
    background-color: rgb(17, 17, 17);
    position: fixed;
    right: 1vh;
    top: 4vw;
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.heading{
    color: white;
    margin: 1vw;
    padding:  1vh 1vw 1vh 1vw;
    font-weight: bolder;
}
.trendingsongs{
    overflow-x: scroll; 
    width: 68vw;
    height: 35vh;
   padding-left: 1vw;
    
}
.card2{
    width: 13vw;
    height: 30vh;
    margin: 1vh 1vh;
    padding: 1vh;
    border-radius: 5px;
    background-color: r(17, 17, 17);
    position: relative;
    cursor: pointer;
}

.img_fit1{
    width: 12vw ;
    height: 20vh ;
    border-radius: 10px;
    margin: auto;
}
.img_fit1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;

}
.popularartists{
    overflow-x: scroll; 
    width: 68vw;
    height: 35vh;
   padding-left: 1vw;

}

.card3{
    width: 13vw;
    height: 30vh;
    margin: 1vh 1vh;
    padding: 1vh;
    border-radius: 5px;
    background-color: rgb(17, 17, 17);
    position: relative;
    cursor: pointer;
}
.card3 p{
   color: rgb(183, 180, 180);
}
.img_fit2{
    width: 12vw ;
    height: 20vh ;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
   

}
.img_fit2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.card2 h3{
    margin: 1vw 1vh;
    padding: 0;
}
.card2 p{
    display: flex;
    margin: 1vw 1vh 0 1vh;
    padding: 0;
    font-size: 12px;
    flex-wrap: wrap;
    color: rgb(183, 180, 180);
}

.empty2{
    height: 3vh;
    background-color: rgb(17, 17, 17);
}
.playbtn{
    width: 6vh;
    height: 6vh;
    position: absolute;
    top:18vh;
    right: 2vh ;
    opacity:0;
    transition: all 0.25s ease-in;
}
.stline{
    width: 64vw;
    height: 1px;
    border: 1px solid rgb(53, 53, 53);
    background-color:rgb(53, 53, 53) ;
    margin: auto;
    border-radius: 5px;
    margin-top:5vw;
    margin-bottom:5vw;

}
.implinks{
    justify-content: space-around;
}
.implinks div a {
    text-decoration: none;
    color:rgb(183, 180, 180);
    margin: 1vh 0;
    font-size: 1vw;
}
.social{
    gap: 1vw;
    margin-top: 1vw;
}
.socialbox{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: rgb(35, 34, 34);
}


/* footer playbar  */
.playbar{
    width: 100vw;
    height: 12vh;
    background-color: black ;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-top: 1vh;
}
.songbtns{
    justify-content: center;
    gap: 5vh;
    margin-bottom: 1vw;
}
.looklikeplay{
    justify-content: center;
    margin-top: 0;
    padding: 0;
   
}
 .songinfo{
    gap: 1vh;
    margin: 0;
    padding: 0;
} 
.songinfo p{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.songinfo h5{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.playbarinside{
    margin: 1vh;
    gap: 5vw;
    justify-content: space-between;
}
.playbarleft{
    margin-left: 3vw;
    justify-content: center;
    gap: 2vh;
    

}
.img_fit3{
    width: 8vh;
    height: 8vh;
    border: 1px solid rgb(73, 72, 72);
    margin: 0;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}
.img_fit3 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.sound{
    margin-right: 7vw;
    gap: 1vh;
}
.soundcontrol{
    width: 8vw;
    height: 1px;
    border: 1px solid rgb(53, 53, 53);
    background-color:rgb(53, 53, 53) ;
    cursor: pointer;
}






*{
    font-family: Varela Round;
}
/* to convert image from black to white */
.invert{ 
  filter: invert(1) brightness(200%);

}
/* convert theme to black */
body{
    background-color: black;
    color: white;
     
}

/* mouse gestures */

.card2:hover {
    background-color: rgb(70, 69, 69);
}
.card2:hover .playbtn {
    top: 14vh;
    opacity: 1;
}
 .card3:hover{
    background-color:rgb(70, 69, 69) ;
 }
 .card3:hover .playbtn {
    top: 14vh;
    opacity: 1;
}
.card3:hover .img_fit2{
    border: 1px solid rgb(70, 69, 69) ;
}
.navbar21 a:hover{
    transform: scale(1.04);
    color: white;
}
.navbar22 a:hover{
    transform: scale(1.04);
    color: white;
}
.loginbtn:hover{
    background-color:rgb(220, 219, 219) ;
    transform: scale(1.04); 
}
#browse:hover{
    transform: scale(1.05);
}
#search:hover{
    transform: scale(1.05);
}
.searchbar:hover{
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(56, 55, 55);
}
.searchbar:hover #typebox{
    background-color: rgb(56, 55, 55);
}
.btn1:hover{
    transform: scale(1.05);
    background-color: rgb(222, 221, 221);
}
.btn2:hover{
    transform: scale(1.05);
    border: 1px solid white;
}
.lib_links a:hover{
    text-decoration: underline;
    color: white;
}
#parent_home:hover{
    transform: scale(1.05);
    background-color: rgb(54, 54, 55);

}
#parent_plus:hover{
    background-color: rgb(54, 54, 55);
}
.songinfo h5:hover{
    text-decoration: underline;
}
.songinfo p:hover{
    text-decoration: underline;
}
.implinks div a:hover{
    text-decoration: underline;
    color: white;
}
.socialbox:hover{
    background-color: rgb(54, 54, 55);
}

